<div class="card mb-1">
    <div class="card-header card-title"> 
       {{title}}
    </div>
    <div class="card-body"> 
        {{post_content}}
        <br>
        <div class="post-comments-info float-end">
        <!--Add PET to post info below-->
           By {{user.username}} on {{format_date created_at}}
            |
           <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
        </div>
    </div>
  </div>